<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <bean
		id="Y" class="com.Entity.Course">
 <constructor-arg name="duration" value="500"/>
     <constructor-arg name="cname" value="java"/>
      <constructor-arg name="trainer" value="pallabi"/>
     <constructor-arg> 
     <list>
		 <value>puja</value>
		  <value>tiyasa</value>
		   <value>bidisha</value>
	 </list>
	 </constructor-arg>
	</bean>
</beans>